*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #111;
    color: #fff;
}
#container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.container-box{
    width: 90%; 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(231, 230, 230, 0.15), 
    inset 5px 10px rgba(211, 209, 209, 0.1);
    padding: 20px;

}
#container .box{
    height: 200px;
    width: 100%;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;  
      
  
}
.box.bg-visible {
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3); /* soft dark overlay */
    transition: all .5s ease-in-out;
}
.box img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all linear .2s;
}
#container h1{
    font-size: 5vw;
    font-weight: 900;
    color: gray;
    z-index: 10;
    mix-blend-mode: difference;
}