*{
    padding: 0;
    margin: 0;
}
#container{
    height: 800px;
    width: 100%;
    background: linear-gradient(pink, rgb(179, 115, 202));
    display: flex;
    justify-content: center;
    align-items: center;
}
#container .cursor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
   background-color: white;
    position: absolute;
    mix-blend-mode: difference;
   transition: all linear .2s;
}
#container .main-box{
    height: 400px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#container .main-box img{
    height: 200px;
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(159, 154, 154),
                inset -10px -10px 0px 0px  rgba(244, 241, 241, 0.609);
}
#container h1{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 800;
    margin-top: 15px;
}
#container h2{
    font-size: 30px;
    font-weight: 400;
    color: red;
    transition: all .8s;
}
#container .box1{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#container .add{
    height: 30px;
    width: 150px;
    cursor: pointer;
    border: none;
    background-color: rgb(81, 157, 233);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
